{% extends "base.html" %}

{% block content %}
<div class="container mx-auto p-6">
    <h1 class="text-2xl font-bold mb-4 text-center">Согласие на обработку персональных данных</h1>
    <p class="mb-4">МойЧат<br>
    _______________________________________________________________________ <br>
    (наименование или фамилия, имя, отчество (при наличии) оператора персональных данных)<br>
    адрес: г.Саратов, Политехническая ул., 77, Саратов<br>
    ИНН 1111111111<br>
    ОГРН 1111111111111<br>
    от: Иванов Иван Иванович<br>
    (Ф.И.О. субъекта персональных данных)<br>
    адрес: г.Саратов, Политехническая ул., 77, Саратов<br>
    телефон: +79876543211<br>
    адрес электронной почты: ivanov@mail.ru<br>
    </p>

    <p class="mb-4">Согласие на обработку персональных данных, разрешенных субъектом персональных данных для распространения</p>
    <p class="mb-4">Я, _______________________________________________________________________ ,<br>
    (Ф.И.О. сотрудника полностью)<br>
    руководствуясь ст. 10.1 Федерального закона от 27.07.2006 N 152-ФЗ "О персональных данных", заявляю о согласии на распространение<br>
    МойЧат<br>
    __________________________________________________________________________<br>
    (наименование или фамилия, имя, отчество (при наличии) оператора персональных данных)<br>
    моих персональных данных с целью ___________________________________________<br>
    __________________________________________________________________________<br>
    в следующем порядке:</p>

    <table class="w-full mb-4 border border-gray-300">
        <thead>
            <tr>
                <th class="border border-gray-300 p-2">Категория персональных данных</th>
                <th class="border border-gray-300 p-2">Перечень персональных данных</th>
                <th class="border border-gray-300 p-2">Разрешаю к распространению (да / нет)</th>
                <th class="border border-gray-300 p-2">Неограниченному кругу лиц (да / нет)</th>
                <th class="border border-gray-300 p-2">Условия и запреты</th>
                <th class="border border-gray-300 p-2">Дополнительные условия</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="border border-gray-300 p-2">персональные данные</td>
                <td class="border border-gray-300 p-2">фамилия</td>
                <td class="border border-gray-300 p-2"></td>
                <td class="border border-gray-300 p-2"></td>
                <td class="border border-gray-300 p-2"></td>
                <td class="border border-gray-300 p-2"></td>
            </tr>
            <tr>
                <td class="border border-gray-300 p-2"></td>
                <td class="border border-gray-300 p-2">имя</td>
                <td class="border border-gray-300 p-2"></td>
                <td class="border border-gray-300 p-2"></td>
                <td class="border border-gray-300 p-2"></td>
                <td class="border border-gray-300 p-2"></td>
            </tr>
            <tr>
                <td class="border border-gray-300 p-2"></td>
                <td class="border border-gray-300 p-2">отчество</td>
                <td class="border border-gray-300 p-2"></td>
                <td class="border border-gray-300 p-2"></td>
                <td class="border border-gray-300 p-2"></td>
                <td class="border border-gray-300 p-2"></td>
            </tr>
            <tr>
                <td class="border border-gray-300 p-2"></td>
                <td class="border border-gray-300 p-2">Электронная почта</td>
                <td class="border border-gray-300 p-2"></td>
                <td class="border border-gray-300 p-2"></td>
                <td class="border border-gray-300 p-2"></td>
                <td class="border border-gray-300 p-2"></td>
            </tr>
        </tbody>
    </table>

    <p class="mb-4">Сведения об информационных ресурсах Оператора, посредством которых будет осуществляться предоставление доступа неограниченному кругу лиц и иные действия с персональными данными субъекта персональных данных:</p>

    <table class="w-full mb-4 border border-gray-300">
        <thead>
            <tr>
                <th class="border border-gray-300 p-2">Информационный ресурс</th>
                <th class="border border-gray-300 p-2">Действия с персональными данными</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="border border-gray-300 p-2">mychat.ru</td>
                <td class="border border-gray-300 p-2">Предоставление данных неограниченному количеству лиц</td>
            </tr>
        </tbody>
    </table>

    <p class="mb-4">Настоящее согласие дано мной добровольно и действует _________________________<br>
    __________________________________________________________________________. </p>

    <p class="mb-4">Оставляю за собой право потребовать прекратить распространять мои персональные данные. В случае получения требования Оператор обязан немедленно прекратить распространять мои персональные данные, а также сообщить перечень третьих лиц, которым персональные данные были переданы.</p>

    <p class="mb-4">"___"_______________ ________ г.</p>

    <p>_____________________ ______________________________________<br>
    (подпись) (расшифровка подписи)</p>
</div>
{% endblock %}
