{% extends "base.html" %}
{% block content %}
<div class="flex justify-center items-center h-screen">
    <div class="p-8 rounded shadow-md max-w-md w-full">
        <h2 class="text-2xl mb-4 text-center">Регистрация</h2>
        <form id="registrationForm" action="/auth/register" method="post"> 
            <div class="mb-4">
                <label for="name" class="block text-sm font-medium text-gray-700">Имя:</label>
                <input type="text" id="name" name="name" required class="mt-1 p-2 border border-gray-300 rounded-md w-full">
            </div>
            <div class="mb-4">
                <label for="surname" class="block text-sm font-medium text-gray-700">Фамилия:</label>
                <input type="text" id="surname" name="surname" required class="mt-1 p-2 border border-gray-300 rounded-md w-full">
            </div>
            <div class="mb-4">
                <label for="email" class="block text-sm font-medium text-gray-700">Email:</label>
                <input type="email" id="email" name="email" required class="mt-1 p-2 border border-gray-300 rounded-md w-full">
            </div>
            <div class="mb-4">
                <label for="password" class="block text-sm font-medium text-gray-700">Пароль:</label>
                <input type="password" id="password" name="password" required class="mt-1 p-2 border border-gray-300 rounded-md w-full">
            </div>
            <div class="text-center">
                <button type="submit" class="bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600">Регистрация</button>
            </div>
            <div class="mt-4 text-center">
                <a href="/login" class="text-blue-500 hover:underline">Уже есть аккаунт? Войти</a>
            </div>
        </form>
    </div>
</div>

<script>
    const form = document.querySelector('#registrationForm');
    form.addEventListener('submit', async (event) => {
        event.preventDefault();

        const formData = {
            name: form.querySelector('#name').value,
            surname: form.querySelector('#surname').value,
            email: form.querySelector('#email').value,
            password: form.querySelector('#password').value
        };

        try {
            const response = await fetch('/auth/register', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(formData),
            });

            if (!response.ok) {
                const errorData = await response.json();
                if (errorData.detail === "REGISTER_USER_ALREADY_EXISTS") {
                    alert('Пользователь с таким email уже существует.');
                } else {
                    throw new Error('Произошла ошибка при регистрации.');
                }
            } else {
                alert("Вы успешно зарегистрировались");
                const loginFormData = new URLSearchParams();
                loginFormData.append('username', formData.email);
                loginFormData.append('password', formData.password);
                const loginResponse = await fetch('/auth/login', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded',
                    },
                    body: loginFormData,
                });

            
                if (!loginResponse.ok) {
                    throw new Error('Ошибка при входе пользователя.');
                } else {
                    // Пользователь успешно вошел
                    window.location.href = '/account';
                    // Дополнительные действия при успешном входе
                }
            }
        } catch (error) {
            console.error(error);
            alert('Произошла ошибка при регистрации или входе пользователя.');
        }
    });
</script>
{% endblock %}
